
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" asp-action="Index" asp-controller="Home">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" asp-action="orders" asp-controller="Home">Orders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" asp-action="customers" asp-controller="Home">Customers</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" asp-action="products" asp-controller="Home">Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" asp-action="settings" asp-controller="Home">Settings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
    </form>
    <h1>Products</h1>
    @foreach(var product in ViewBag.Products)
    {
      <h1>@product.ProductName</h1>
    }
    <a class="navbar-brand" asp-action="products" asp-controller="Home">Show more...</a>
    <h1>Recent Orders</h1>
    @foreach(var order in ViewBag.Orders)
    {
      <h1>@order.CustomerOrdered.CustomerName   @order.Quantity @order.OrderedProduct.ProductName 
        
      </h1>
    }
    <a class="navbar-brand" asp-action="orders" asp-controller="Home">Show more...</a>
    <h1>New Customers</h1>
    @foreach(var customer in ViewBag.Customers)
    {
      <h1>@customer.CustomerName joined the store</h1>
    }
    <a class="navbar-brand" asp-action="customers" asp-controller="Home">Show more...</a>